APP_NAME = mini-RAG
APP_VERSION = 1.0.0
OPENAI_API_KEY = "xxxc"

FILE_ALLOWED_TYPES = ["pdf", "docx", "txt", "csv"]
FILE_ALLOWED_SIZE_MB = 100

STORAGE_PROVIDER: str = "local"   # "local" أو "s3"
FILE_DIR: str = "assets/files"

AWS_BUCKET_NAME: str = ""
AWS_ACCESS_KEY: str = ""
AWS_SECRET_KEY: str = ""
AWS_REGION: str = "us-east-1"
S3_ENDPOINT_URL: str = ""
